<div class="container" style="width:60%">	    
    <h3 ><span class="glyphicon glyphicon-user"></span> Welcome {{item.name}} </h3>
      
	<div class="col-md-10 " >
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">My account</h3>
			</div>
			<div class="panel-body">
				<ul>
				  <li>Username: {{item.name}}</li>
				  <li>Age: {{item.age}}</li>
				  <li>Gender: {{item.gender}}</li>
				  <li>Occupation: {{item.occupation}}</li>
				  <li>Hometown: {{item.hometown}}</li>
				  <li>Tags: {{item.tags}}</li>
				</ul>
			</div>
		</div>
	</div>	
</div>	
